* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

html {
    font-size: 62.5%;
}

footer {
            background-color: rgba(210, 180, 140, 0.5);
            /* gray-800 */
            color: rgb(255, 255, 255);
            padding: 2rem 1rem;
            margin-top: 3rem;
            /* mt-12 */
        }

        footer .container {
            text-align: center;
        }

        footer p {
            margin-bottom: 1rem;
            color: white;
        }

        footer .footer-links a {
            color: #a0aec0;
            /* gray-400 */
            text-decoration: none;
            margin: 0 0.5rem;
            transition: color 0.3s ease;
        }

        footer .footer-links a:hover {
            color: white;
        }

