* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

html {
    font-size: 62.5%;
}

footer {
    background-color: rgba(210, 180, 140, 0.5);
    /* gray-800 */
    color: rgb(255, 255, 255);
    padding: 2rem 1rem;
    margin-top: 3rem;
    text-align: center;
    /* mt-12 */
}