*{
    padding: 0px;
    margin: 0px;
    border: 0px;
   
}
header{
    background-color: black;
    opacity: 50%;
}
h1 {
    padding: 10px;
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    color:aliceblue;
    font-size: 100px;
}
